@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --primary: #4e73b6;
  --accent-2: #75c9c8;
}

body {
  font-family: Roboto;
  font-style: normal;
  color: #4f4f4f;
  font-size: 16px;
  line-height: 19px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
