@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --primary: theme('colors.primary.default');
  --grey: theme('colors.grey.default');
  --grey-light: theme('colors.grey.light');
  --grey-lighter: theme('colors.grey.lighter');
  --teal: theme('colors.teal.default');
  --yellow: theme('colors.yellow.default');
  --yellow-light: theme('colors.yellow.light');
  --purple: theme('colors.purple.default');
  --purple-light: theme('colors.purple.light');
}

.font-manjari-regular {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
}

.font-manjari-bold {
  font-family: "Manjari", sans-serif;
  font-weight: 700;
}

.font-roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  @apply font-roboto-regular;
  color: var(--grey);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > .main {
  flex: 1;
}

h1 {
  @apply font-manjari-regular;
  @apply mb-4;
  font-size: 52px;
  line-height: 56px;
}

h2 {
  @apply font-manjari-bold;
  font-size: 40px;
  line-height: 44px;
}

h3 {
  @apply font-manjari-bold;
  font-size: 32px;
}

h4 {
  @apply font-manjari-bold;
  font-size: 24px;
}

h5 {
  @apply font-roboto-bold;
  font-size: 20px;
}

h6 {
  @apply font-roboto-bold;
  font-size: 16px;
}

p {
  @apply font-roboto-regular;
  @apply mb-4;
  font-size: 16px;
  line-height: 20px;
}

p.small {
  font-size: 13px;
  line-height: 15px;
}

ol,
ul {
  padding-left: 20px;
}

ol li::marker {
  font-size: 16px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
