@tailwind base;

@tailwind components;

/* https://tailwindcss.com/docs/extracting-components */
/* START - Add custom component classes before your utilities */
.font-manjari-regular {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
}

.font-manjari-bold {
  font-family: "Manjari", sans-serif;
  font-weight: 700;
}

.font-roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.font-base {
  font-size: 16px;
  line-height: 20px;
}

.btn {
  @apply font-roboto-bold;
  @apply px-5;
  @apply py-3;
  border-radius: 15px;
}

.btn-outline {
  transition: border-color 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
  @apply btn;
  @apply border-solid;
  @apply border-2;
}

.btn-outline-primary {
  @apply btn-outline;
  @apply border-primary;
  @apply text-primary;
}

.btn-outline-primary:hover {
  @apply bg-primary;
  @apply text-white;
}

.btn-outline-primary:focus {
  @apply outline-none;
}

.btn-outline-primary:active {
  @apply bg-primary-dark;
}

.btn-solid {
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  @apply btn;
}

.btn-solid-primary {
  @apply btn-solid;
  @apply bg-primary;
  @apply text-white;
}

.btn-solid-primary:hover {
  @apply bg-primary-dark;
}

.btn-solid-primary:focus {
  @apply outline-none;
}

.btn-solid-primary:active {
  @apply shadow-outline;
}

/* this will be the standardised lateral spacing for container */
.container-px {
  @apply px-4;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > .main {
  flex: 1;
}
/* END - Add custom component classes before your utilities */

@tailwind utilities;

:root {
  --primary: theme('colors.primary.default');
  --grey: theme('colors.grey.default');
  --grey-light: theme('colors.grey.light');
  --grey-lighter: theme('colors.grey.lighter');
  --teal: theme('colors.teal.default');
  --yellow: theme('colors.yellow.default');
  --yellow-light: theme('colors.yellow.light');
  --purple: theme('colors.purple.default');
  --purple-light: theme('colors.purple.light');
}

body {
  @apply font-roboto-regular;
  color: var(--grey);
}

h1 {
  @apply font-manjari-bold;
  @apply mb-4;
  font-size: 32px;
  line-height: normal;
}

h2 {
  @apply font-manjari-bold;
  font-size: 32px;
  line-height: normal;
}

h3 {
  @apply font-manjari-bold;
  font-size: 32px;
  line-height: normal;
}

h4 {
  @apply font-manjari-bold;
  font-size: 24px;
  line-height: normal;
}

h5 {
  @apply font-roboto-bold;
  font-size: 16px;
  line-height: normal;
}

h6 {
  @apply font-roboto-bold;
  font-size: 16px;
  line-height: normal;
}

button,
p {
  @apply font-base;
}

p {
  @apply font-roboto-regular;
  @apply mb-4;
}

p.small {
  font-size: 13px;
  line-height: 15px;
}

a {
  transition: color 0.2s ease-out;
}

a:hover {
  @apply text-primary;
}

ol,
ul {
  padding-left: 20px;
}

.ol-nested {
  list-style: none;
  counter-reset: item;
  padding-left: 24px;
}

.ol-nested li {
  position: relative;
  counter-increment: item;
}

.ol-nested li:before {
  content: counters(item, ".") " ";
  display: inline-block;
  position: absolute;
  left: -10px;
  transform: translateX(-100%);
  font-size: 16px;
  line-height: 1.2;
}

.ol-nested > li > .ol-nested {
  padding-left: 32px;
}

.ol-nested > li > .ol-nested > li > .ol-nested {
  padding-left: 48px;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
  h1 {
    @apply font-manjari-regular;
  }

  h1 {
    font-size: 52px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
    line-height: 44px;
  }

  h5 {
    font-size: 20px;
  }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
